In [12]:
from sklearn import tree
import pandas as pd
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [4]:
a = pd.read_csv("ACME-HappinessSurvey2020.csv")
X = a.drop(["Y"], axis = 1)
Y = a["Y"]

In [5]:
clf = tree.DecisionTreeClassifier(max_depth = 2, random_state = 0)
rfe = RFE(clf, n_features_to_select = 3)
fit = rfe.fit(X, Y)

In [6]:
fit.support_

array([ True, False, False, False,  True,  True])

In [19]:
X_new = X[["X1", "X5", "X6"]]

In [20]:
X_train, X_test, y_train, y_test = train_test_split(
  X_new, Y, test_size=0.15, random_state=1)

In [21]:
clf = clf.fit(X_train,y_train)

In [22]:
y_pred = clf.predict(X_test)

In [23]:
metrics.accuracy_score(y_test, y_pred)

0.7894736842105263

In [24]:
X_train

     X1  X5  X6
2     5   3   5
54    4   3   4
108   5   5   5
111   5   4   4
48    5   5   3
..   ..  ..  ..
9     4   5   5
72    4   2   4
12    5   5   5
107   4   4   4
37    5   4   5

[107 rows x 3 columns]

In [25]:
y_train

2      1
54     1
108    0
111    0
48     1
      ..
9      0
72     1
12     1
107    0
37     1
Name: Y, Length: 107, dtype: int64